@import "../shared/mixins/mixins.scss";

html, body {
  @include pureDiv;
  @include hundredHW;
  overflow: hidden;
}

body {
  perspective: 1px; 
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Amatic SC', cursive;
  color: #fff;
}

h1 {
  color: #27aedb;
  text-align: center;
  background-color: red;
}

