@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

h1 {
  color: #27aedb;
  text-align: center;
  background-color: red;
};

.App{
  @include flexCenterHW;
  &_container{
    width: $mainContainerWidth;
  }
};
