@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

html,body{
  @include pureDiv;
  @include hundredHW;
};

.App{
  @include flexCenterHW;
  flex-direction: column;

  .pre-App{
    @include flexCenterHW;
    flex-direction: column;
  }

  img{
    user-select: none;   
  }
  &_container{
    width: $mainContainerWidth;
  }
};