@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

.App-preloader{
  @include flexCenterHW;
  top: 0px;
  position: fixed;
  z-index: 60;
  background: black;
  animation: disappearPreloader 1s forwards;
  animation-delay: 2s;

  &_circle{
    width: 10vw;
    height: 10vw;
    border-radius: 70%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid $lightBlue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
};

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
};

@keyframes disappearPreloader{
  0%{
    opacity: 1;
    display: flex;
  }
  90%{
    transform: translateY(100vh);
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(100vh);
    display: none;
  }
};