@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

#section-a{
  @include flexCenterHW;
  flex-direction: column;
  font-family: $logoFont;
  padding-top: $paddingJustifyGeneral * 5;
  padding-bottom: $paddingJustifyGeneral * 5;
  // background-image: url("https://wallpaperset.com/w/full/6/5/9/20735.jpg");
  background-image: url("https://www.droptica.com/sites/droptica.com/files/media/image/dark%20background.jpg"); //
  height: 100%;
  box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.57);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_left{
    @include flexCenterHW;
    &_container{
      @include flexEnd;
      flex-direction: column;
      text-align: end;
      &_message-first, &_message-second{
        color: $black;
        background-color: $white;
        border-radius: $borderRadius $borderRadius 0 $borderRadius;
        margin-top: $marginAlignGeneral;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-width: 70%;
        h3{
          margin-bottom: 0;
        }
        h3, h4{
          padding: 0 $paddingJustifyGeneral;
        }
      }
    }
  }
  &_right{
    @include flexStart;
    @include hundredHW;
    padding-left: $paddingJustifyGeneral * 3;
    img{
      margin-top: $marginAlignGeneral;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: solid $white 5px;
    }
  }
};

.extra-div{
  @include flexCenterHW;
};

#finger-img{
  background-color: #fff;
  border-radius: 70%;
  padding: 5px;
  animation: upAndDown 1s linear infinite;
  cursor: pointer;
};

@keyframes upAndDown{
  0%{
    transform: translateY(20px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(20px);
  }
};