@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

#section-a{
  @include flexCenterHW;
  flex-direction: column;
  font-family: $logoFont;
  padding-top: $paddingJustifyGeneral * 5;
  padding-bottom: $paddingJustifyGeneral * 5;
  background: url("../assets/images/background/dark-background.jpg"); //
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  zoom: 100%;
  height: 100%;
  box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.57);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_right{
    @include flexCenterHW;
    &_container{
      @include flexStart;
      flex-direction: column;
      text-align: end;
      &_message-first, &_message-second{
        color: $black;
        background-color: $white;
        border-radius: $borderRadius $borderRadius $borderRadius 0;
        margin-top: $marginAlignGeneral;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-width: 70%;
        border-left: 5px solid $lightBlue;
        border-top: 5px solid $lightBlue;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
        box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
        h3, h4{
          padding: 0 $paddingJustifyGeneral;
          font-size: 1.5vw;
        }
        h3{
          margin-bottom: 0;
          font-size: 2vw;
          text-decoration: underline;
          text-decoration-color: $lightBlue;
        }

      }
    }
  }
  &_left{
    @include flexEnd;
    @include hundredHW;
    padding-right: $paddingJustifyGeneral * 3;
    img{
      margin-top: $marginAlignGeneral;
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      border: 5px solid $lightBlue;
      border-right: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
      box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
    }
  }
};

.extra-div{
  @include flexCenterHW;
};

#finger-img{
  width: 7vw;
  border: 3px solid $lightBlue;
  background-color: #fff;
  border-radius: 70%;
  padding: 1px;
  animation: upAndDown 1s linear infinite;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  cursor: pointer;
};

#finger-img:hover{
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);;
}

@keyframes upAndDown{
  0%{
    transform: translateY(20px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(20px);
  }
};

@media screen and (max-width: 1024px){
  
#section-a{
  padding-top: $paddingJustifyGeneral;
  &_right{

    &_container{
      @include flexCenterHW;
      &_message-first, &_message-second{
        border-radius: $borderRadius 0 $borderRadius 0;
        h3{
          text-align: center;
          font-size: 3.5vw;
        }
        h4{
          text-align: center;
          font-size: 3vw;
        }
      }
    }
  }
  &_left{
    @include flexCenterHW;
    @include pureDiv;
    img{
      @include pureDiv;
      width: 40vw;
      height: 40vw;
      border: 5px solid $lightBlue;
      border-left: none;
      border-right: none;
    }
  }
};

  .extra-div{
    flex-direction: column;
  }
};
