@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

.main-animation{
  @include flexCenterHW;
  flex-direction: column;
  &_container{
    @include flexSpaceAroundHW;
    flex-direction: column;
    &_head{
      @include flexSpaceBetweenHW;
      &_left, &_right{
        @include hundredHW;
        border-bottom: 7px solid $lightBlue;
      }
      &_right{
        width: 30%;
      }
      h2{
        @include pureDiv;
        color: $black;
        font-size: $h1FontSize;
        text-align: center;
        text-shadow: $textShadowBlue;
      }
    }
    &_a, &_b, &_c{
      display: flex;
      padding: 10% 0;      

      .text-block{
        position: relative;
        z-index: 50;
        @include flexCenterHW;
        width: 50vw;
        padding-left: 5vw;
        flex-direction: column;
        
        
        .down-btn{
          @include correctBtn;
          background-color: transparent;
          margin: $marginAlignGeneral;
          img{
            @include correctBtn;
            height: 30px;
            width: 70px;
            -webkit-transition: all $fastTransitionTime ease-in;
            transition: all $fastTransitionTime ease-in;
          }

          img:hover{
            height: 50px;
            width: 100px;
            -webkit-transition: all $fastTransitionTime ease-in;
            transition: all $fastTransitionTime ease-in;
          }
        }
        
        &_container{
          color: $black;
          background-color: $white;
          margin-top: $marginAlignGeneral;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          border-radius: $borderRadius;
          
          &_title{
            @include flexSpaceBetweenHW;
            height: 70px;
            text-align: center;
            border-radius: 50px 50px 0px 0;
            background-color: $lightBlue;
            h2{
              @include pureDiv;
              display: flex;
              text-shadow: $lightBlue 1px 0 10px;
              padding-left: $paddingJustifyGeneral;
              color: $white;
            }
            a{
              display: flex;
              justify-content: flex-end;
              img{
                width: 50px;
                height: 50px;
                margin-right: $paddingJustifyGeneral;
                -webkit-transition: all $fastTransitionTime ease-in;
                transition: all $fastTransitionTime ease-in;
                box-shadow: inset 0 0 5px 5px rgba(39, 168, 228, 0.5);
                border-radius: 70%;
              }
            }

            a:hover img{
              width: 70px;
              height: 70px;
              -webkit-transition: all $fastTransitionTime ease-in;
              transition: all $fastTransitionTime ease-in;
              box-shadow: 0px 5px 40px -10px rgba(0,0,0,1);
              animation: stopAroundCircle 1s linear infinite;
            }
          }
          
          p{
            padding: 0 $paddingJustifyGeneral;
          }
       
          &_btn{
            @include flexCenterHW;
            margin: $marginAlignGeneral 0;

            button{
              @include navBtnStyles;
              font-family: $logoFont;
              transition: all $generalTransitionTime ease-in;
              box-shadow: 0 0 10px rgba(83, 67, 67, 0.5);
              width: 30vw;
              height: 3em;
            }
  
            button:hover{
              @include hooverGeneralBtn;
            }
          }
          
          li{
            color: $lightBlue;
          }

          
        }
      }

      .circles-block{
        @include flexCenterHW;
        position: relative;
        z-index: 50;
        
        &_central-object{
          border-radius: 50%;


          img{
            width: 30vw;
            height: 30vw;
          }
        }
        &_orbit{
          width: 30vw;
          height: 30vw;
          border-radius: 50%;
          position : absolute;
          display: flex;
          flex-direction: column;
          -webkit-animation: spin-right 10s linear infinite;
          -moz-animation: spin-right 10s linear infinite;
          -ms-animation: spin-right 10s linear infinite;
          -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
          #orbit-group-b{
            align-items: flex-end;
          }
          &_group{
            @include hundredHW;
            display: inline-flex;
            justify-content: space-between;
    
            &_satellite{
              justify-content: space-between;
              img{
                width: 8vw;
                height: 8vw;
                border-radius: 70%;
              }
            }
          }
        }
      }
    }
    &_d{
      @include flexSpaceBetweenHW;
      #avatar{
        width: 300px;
        height: 300px;
        border-radius: 70%;
      }
    }

    .mobile-t-c{
      border-radius: $borderRadius;
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin: $marginAlignGeneral 0;
      z-index: $moduleWindowZIndex;
      &_title{
        @include flexCenterHW;
        background-color: $lightBlue;
        border-radius: $borderRadius $borderRadius 0 0;
        a{
          text-decoration: none;
        }
        h2{
          font-size: 5vw;
          color: $white;
        }
      }
      &_main{
        @include flexStart;
        background-color: $white;
        &_text{
          padding: $paddingJustifyGeneral;
          p{
            font-size: 2vw;
            float: left;
          }
          ul{
            font-size: 2vw;
            color: $lightBlue;
          }
        }
        &_circle{
          background-repeat: no-repeat;
          padding: $paddingJustifyGeneral;
          img{
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            -webkit-transition: all $fastTransitionTime ease-in;
            transition: all $fastTransitionTime ease-in;
          }
          img:hover{
            transform: scale(1.1);
          }
        }
      }
      &_footer{
        @include flexCenterHW;
        background-color: $white;
        border-radius: 0 0 $borderRadius $borderRadius;
        button{
          @include navBtnStyles;
          width: 70vw;
          height: 7vw;
          margin: $marginAlignGeneral;
          font-size: 3vw;
          color: $black;
          font-family: "Berkshire Swash", sans-serif;
        }
        button:hover{
          @include hooverGeneralBtn;
        }
      }
    }
  }
};

@-webkit-keyframes spin-right {
  100% {
      -webkit-transform: rotate(360deg);
  }
};

@-moz-keyframes spin-right {
  100% {
      -moz-transform: rotate(360deg);
  }
};

@keyframes spin-right {
  100% {
      transform: rotate(360deg);
  }
};

@keyframes stopAroundCircle{
  0%{
    border: solid 5px $lightBlue;
  }
  100%{
    border: solid 5px $lightBlue;
  }
};