@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

.main{
  @include flexCenterHW;
  flex-direction: column;
  font-family: $logoFont;
  
  h1{
    font-size: $h1FontSize;
    color: $black;
    text-align: center;
  }
  &_section{
    @include hundredHW;
    display: inline-flex;
  }
};

#section-b{
  height: 100%;
  flex-direction: column;
  &_left{
    @include flexCenterHW;
    background-repeat: no-repeat;
    &_container{
      @include flexEnd;
      flex-direction: column;
      &_block-first{
        @include flexCenterHW;
        img{
          margin-left: -60vw;
          margin-top: -5vw;
        }
      }
    }
  }
};

.importantLogo{
  width: $importantLogoSize;
  height: $importantLogoSize;
};

.unimportantLogo{
  width: $unimportantLogoSize;
  height: $unimportantLogoSize;
};