@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";


.module-window{
  width: 30vw;
  height: 30vw;
  color: $black;
  background-color: $white;
  border: solid $lightBlue 7px;
  border-radius: 25px;
  margin-top: $marginAlignGeneral;
  padding: 0 $paddingJustifyGeneral;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  margin-left: 65%;
  position: sticky;
  font-family: $logoFont;
  &_hard{
    &_title{
      @include flexSpaceBetween;
      margin-bottom: 10px;
      height: 100%;
      h3{
        @include pureDiv;
        padding-left: 10px;
        font-size: 23px;
      }
      button{
        @include navBtnStyles;
        border: 2px solid $white;
        width: 8vw;
        font-size: 23px;
        height: 100%;
        background-color: $black;
      }
  
      button:hover{
        @include hooverGeneralBtn;
      }
    }
   
  }
  &_hard, &_soft{
    margin: $marginAlignGeneral 0;
  }
};

.skills-slider{
  @include flexSpaceBetweenHW;
  height: 80px;
  &_list{
    font-size: 20px;
    ul{
      @include pureDiv;
      text-align: center;
    }
  }
  button{
    @include correctBtn;
    @include pureDiv;
    border: none;
    background-color: transparent;
    height: 80px;
    width: 80px;
  }

  button:hover > .active-image{
    box-shadow: 0px 0px 70px 0px rgba(69, 153, 192, 0.57);
    -webkit-transition: all $fastTransitionTime ease-in;
    transition: all $fastTransitionTime ease-in;
  }

  img{
    width: 50px;
    height: 50px;
    -webkit-transition: all $fastTransitionTime ease-in;
    transition: all $fastTransitionTime ease-in;
    border-radius: 50%;
  }
};

.activated-modal{
  margin-top: none;
  -webkit-animation: showFromTheTop $generalTransitionTime linear;
  -moz-animation: showFromTheTop $generalTransitionTime linear;
  -ms-animation: showFromTheTop $generalTransitionTime linear;
  -o-animation: showFromTheTop $generalTransitionTime linear;
  animation: showFromTheTop $generalTransitionTime linear;
};

@keyframes showFromTheTop {
  0%{
    margin-top: -20%;
  }
  100%{
    margin-top: none;
  }
};

@keyframes showFromTheTopM {
  0%{
    margin-top: -20%;
  }
  100%{
    margin-top: none;
  }
};

@media screen and (max-width: 1024px){
  .module-window{
    height: 400px;
    width: 50%;
    margin-left: 40%;
    &_hard{
      &_title{
        height: 5vw;
      }
    }
    .skills-slider{
      @include flexSpaceBetweenHW;
      height: 80px;
      &_list{
        @include flexCenterHW;
        font-size: 3vw;
      }
    }
  }
};

@media screen and (max-width: 520px){
  .activated-modal{
    -webkit-animation: showFromTheTopM $generalTransitionTime linear;
    -moz-animation: showFromTheTopM $generalTransitionTime linear;
    -ms-animation: showFromTheTopM $generalTransitionTime linear;
    -o-animation: showFromTheTopM $generalTransitionTime linear;
    animation: showFromTheTopM $generalTransitionTime linear;
  };

  .module-window{
    margin-left: 10%;
    width: 70vw;
    &_hard{
      &_title{
        height: 10vw;
        button{
          width: 15vw;
        }
      }
    }
    
    ul{
      padding: 0;
    }
    
    &_hard{
      h3{
        button{
          width: 15vw;
        }
      }
    }
  }
};