@import "../shared/mixins/mixins.scss";
@import "../shared/variables/variables.scss";

.side-links{
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: fixed;
  left: -70px;
  top: 30%;
  z-index: 51;

  a{
    @include flexCenter;
    width: 50px;
    height: 50px;
    padding: 7px;
    background-color: $white;
    border: 2px solid $black;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    border-radius: 50%;
    margin: 5px 0;

    img{
      width: 45px;
      height: 45px;
    }
    
  }
  a:hover{
      border-radius: 20%;
      border: 2px solid $white;
      -webkit-transition: all $fastTransitionTime ease-in;
      transition: all $fastTransitionTime ease-in;
  }

};

.activated{
  left: 10px;
  -webkit-animation: showFromTheSide $generalTransitionTime linear;
  -moz-animation: showFromTheSide $generalTransitionTime linear;
  -ms-animation: showFromTheSide $smoothTransitionTime linear;
  -o-animation: showFromTheSide $generalTransitionTime linear;
  animation: showFromTheSide $generalTransitionTime linear;
};

@keyframes showFromTheSide {
  0%{
    left: -40px;
  }
  100%{
    left: 0.2vw;
  }
};

@media screen and (max-width: 1024px){
  .side-links{
    a{
      width: 40px;
      height: 40px;

      img{
        width: 35px;
        height: 35px;
      }
    }
  }
};