@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

/* numbers */
$mainContainerWidth: 80vw;
$logoFontSize: 54px;
// $h1FontSize: 56px;
$h1FontSize: 4vw;
$borderRadius: 50px;
$paddingJustifyGeneral: 15px; 
$marginAlignGeneral: 20px;
$importantLogoSize: 70px;
$unimportantLogoSize: 50px;
/* */ 

/* z-index */
  $navBarZIndex: 56;
  $moduleWindowZIndex: 50;
  $chatBotZIndex: 55;

/* */

/* colors */
$black: #050609;
$white: #fdfdfd;
$green: #45C01A;
$darkBlue: #151386;
$lightBlue: #1284B5;
/* */

/* fonts */
$logoFont: 'Oleo Script', cursive;
/* */

/* animation time */
$fastTransitionTime: .10s;
$generalTransitionTime: .35s;
$smoothTransitionTime: 1s;
/* */