/* numbers */
$mainContainerWidth: 1200px;
$logoFontSize: 54px;
$h1FontSize: 56px;
$borderRadius: 50px;
$paddingJustifyGeneral: 15px; 
$marginAlignGeneral: 20px;
$importantLogoSize: 70px;
$unimportantLogoSize: 50px;
/* */ 

/* colors */
$black: #050609;
$white: #fdfdfd;
$green: #45C01A;
$darkBlue: #151386;
$lightBlue: #1284B5;
/* */

/* fonts */
$logoFont: 'Oleo Script', cursive;
/* */

/* animation time */
$generalTransitionTime: .35s;
/* */