@mixin pureDiv {
  margin: 0px;
  padding: 0px;
};

@mixin correctBtn{
  cursor: pointer;
  border: none;
  outline: none;
};

@mixin hundredHW{
  height: 100%;
  width: 100%;
};

/* simple flex */

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
};

@mixin flexSpaceAround{
  display: flex;
  align-items: center;
  justify-content: space-around;
};

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
};

/* */

/* flex with 100% */

@mixin flexCenterHW {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
};

@mixin flexSpaceAroundHW{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
};

@mixin flexSpaceBetweenHW{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
};

/* */

/* flex sides */
@mixin flexEnd{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
};

@mixin flexStart{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
};

/* */

/* styles for nav btns */ 
@mixin navBtnStyles{
  @include correctBtn;
  width: 100px;
  height: 30px;
  border-radius: $borderRadius;
  background-color: $lightBlue;
  color: $white;
};
/* */